
body {background-color: #F6F3E7;}

/* Navigation */
.Navbar {
    justify-content: space-between;
    width: 100%
}

h1 {color: darkred; font-style:italic; 
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
}
.button1:hover {border-radius: 12px;
        background-color: #C7AD7F;}
.button1 {
    border-radius: 12px;
    background-color: #6e4a0a;
    color: white;
    display: flex;
    margin-right: 10px;
    position: relative;
}

.button2:hover {border-radius: 12px;
        background-color: #C7AD7F;}
.button2 {border-radius: 12px;
            background-color: #6e4a0a;
        color: white}

.right {
  text-align: right;
}

.container{
    margin-top: 8%;
    background-color: #dfd8cc;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* body {
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
} */

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
}

/* .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
} */